.App {
  text-align: center;
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.card {
  width: 600px;
  height: 400px;
  background-color: #000;
  border-radius: 24px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-overlay {
  position: absolute;
  width: 600px;
  height: 400px;
  background-color: wheat;
  border-radius: 24px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;

  clip-path: inset(0 0 0 0);
  transition: clip-path 3s linear;
}

.card:hover .card-overlay {
  clip-path: inset(100% 0 0 100%);
}